/.gradle/
/.idea/
/build/
/local.properties
.idea
.idea/*
*.iml
.gradle
.gradle/*
local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
*/*.iml
/captures
.externalNativeBuild
.cxx
.directory
/release/*
/release/
/release
/debug/*
/debug/
/debug
